body {
  //background-color: green;
}
.main {
    width: 360px;
    margin: 20px auto 0;
    padding: 20px 20px;
    position: relative;
}
.main #pwd {
  width: 220px;
  margin: 0;
}
.main #pwd-text{
  width: 185px;
  height: 17px;
  z-index: -10;
  border: none;
  position: relative;
  left: 47px;
  top:-22px;
}
.main span{
    width: 30px;
    height: 30px;
    //top:10px;
    position: relative;
    background-color:green

}
.main #eye:hover {
  background-color:red
}

